.loginpage{
    width: 100%;
    height: 745px;
    background-color: #F0F2F5;
    text-align: center;
}
.loginpage-form{
    margin: 0 auto;
    padding-top: 40px;
    width: 500px;
}
.loginpage-text{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 550;
}
.loginpage-input{
    margin-top: 10px;
}
.loginpage-submit{
    margin-top: 10px;
}